{% for post in post_list %}
            <div class="card">
              <!-- Card header START -->
              <div class="card-header border-0 pb-0">
                <div class="d-flex align-items-center justify-content-between">
                  <div class="d-flex align-items-center">
                    <!-- Avatar -->
                    <div class="avatar avatar-story me-2">
                      <a href='/{{ post.owner.username }}'>
                        <img
                          class="avatar-img rounded-circle"
                          src='{{ post.owner.profile.image.url }}'
                          alt=""
                        />
                      </a>
                    </div>
                    <!-- Info -->
                    <div>
                      <div class="nav nav-divider">
                        <h6 class="nav-item card-title mb-0">
                          <a href='/{{ post.owner.username }}'> {{ post.owner.get_full_name }} </a>
                        </h6>
                        <span class="nav-item small"> 2hr</span>
                      </div>
                      <p class="mb-0 small"> {{ profile_owner.profile.occupation }} </p>
                    </div>
                  </div>
                  <!-- Card feed action dropdown START -->
                  <div class="dropdown">
                    <a
                      href='{% static "#" %}'
                      class="text-secondary btn btn-secondary-soft-hover py-1 px-2"
                      id="cardFeedAction1"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="bi bi-three-dots"></i>
                    </a>
                    <!-- Card feed action dropdown menu -->
                    <ul
                      class="dropdown-menu dropdown-menu-end"
                      aria-labelledby="cardFeedAction1"
                    >
                      <li>
                        <a class="dropdown-item" href='{% static "#" %}'>
                          <i class="bi bi-bookmark fa-fw pe-2"></i>Save post</a
                        >
                      </li>
                      {% if user != post.owner %}
                      <li>
                        <a class="dropdown-item" href='{% static "#" %}'>
                          <i class="bi bi-person-x fa-fw pe-2"></i>Unfollow @{{ post.owner.username }}
                        </a>
                      </li>
                      <li><hr class="dropdown-divider" /></li>
                      <li>
                        <a class="dropdown-item" href='{% static "#" %}'>
                          <i class="bi bi-slash-circle fa-fw pe-2"></i>Block @{{ post.owner.username }}</a
                        >
                      </li>
                      <li>
                        <a class="dropdown-item" href='{% static "#" %}'>
                          <i class="bi bi-flag fa-fw pe-2"></i>Report post</a
                        >
                      </li>
                      {% else %}
                      <li><hr class="dropdown-divider" /></li>
                      <li>
                        <a class="dropdown-item" href='{% static "#" %}'>
                          <i class="bi bi-pencil fa-fw pe-2"></i>Edit post</a
                        >
                      </li>
                      <li>
                        <a class="dropdown-item" href='post/{{ post.id }}/delete?next={{ request.path }}' >
                          <i class="bi bi-trash fa-fw pe-2"></i>Delete</a
                        >
                      </li>
                      {% endif %}
                    </ul>
                  </div>
                  <!-- Card feed action dropdown END -->
                </div>
              </div>
              <!-- Card header END -->
              <!-- Card body START -->
              <div class="card-body">
                <p>
                  {{ post.text }}
                </p>
                <!-- Card img -->
                {% if post.postimage_set.count == 1 %}
                <img
                  class="card-img"
                  src='{{ post.postimage_set.all|index:0 }}'
                  alt="Post"
                />
                {% endif %}
                <!-- Feed react START -->
                <ul class="nav nav-stack py-3 small">
                  <li class="nav-item">
                    <a class="nav-link active" href='{% static "#!" %}'>
                      <i class="bi bi-hand-thumbs-up-fill pe-1"></i>{{ post.likes.count }} Likes
                    </a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href='{% static "#!" %}'>
                      <i class="bi bi-chat-fill pe-1"></i>{{ post.comment_set.count }} Comments </a
                    >
                  </li>
                  <!-- Card share action START -->
                  <li class="nav-item dropdown ms-sm-auto">
                    <a
                      class="nav-link mb-0"
                      href='{% static "#" %}'
                      id="cardShareAction8"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="bi bi-reply-fill flip-horizontal ps-1"></i>Share
                      (3)
                    </a>
                    <!-- Card share action dropdown menu -->
                    <ul
                      class="dropdown-menu dropdown-menu-end"
                      aria-labelledby="cardShareAction8"
                    >
                      <li>
                        <a class="dropdown-item" href='{% static "#" %}'>
                          <i class="bi bi-envelope fa-fw pe-2"></i>Send via
                          Direct Message</a
                        >
                      </li>
                      <li>
                        <a class="dropdown-item" href='{% static "#" %}'>
                          <i class="bi bi-bookmark-check fa-fw pe-2"></i
                          >Bookmark
                        </a>
                      </li>
                      <li>
                        <a class="dropdown-item" href='{% static "#" %}'>
                          <i class="bi bi-link fa-fw pe-2"></i>Copy link to
                          post</a
                        >
                      </li>
                      <li>
                        <a class="dropdown-item" href='{% static "#" %}'>
                          <i class="bi bi-share fa-fw pe-2"></i>Share post via
                          …</a
                        >
                      </li>
                      <li><hr class="dropdown-divider" /></li>
                      <li>
                        <a class="dropdown-item" href='{% static "#" %}'>
                          <i class="bi bi-pencil-square fa-fw pe-2"></i>Share to
                          News Feed</a
                        >
                      </li>
                    </ul>
                  </li>
                  <!-- Card share action END -->
                </ul>
                <!-- Feed react END -->

                <!-- Add comment -->
                <div class="d-flex mb-3">
                  <!-- Avatar -->
                  <div class="avatar avatar-xs me-2">
                    <a href='/{{ post.owner.username }}'>
                      <img
                        class="avatar-img rounded-circle"
                        src="{{ user.profile.image.url }}"
                        alt=""
                      />
                    </a>
                  </div>
                  <!-- Comment box  -->
                  <form class="position-relative w-100" action="comment/post/{{ post.id }}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <textarea
                      class="form-control pe-4 bg-light"
                      rows="1"
                      placeholder="Add a comment..."
                      name="text"
                    ></textarea>
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <input type="submit" class="btn btn-success-soft" value="Post comment">
                  </form>
                </div>
                <!-- Comment wrap START -->
                <ul class="comment-wrap list-unstyled">
                  <!-- Comment item START -->
                  {% for comment in post.comment_set.all|slice:":3" %}

                  <li class="comment-item">
                    <div class="d-flex position-relative">
                      <!-- Avatar -->
                      <div class="avatar avatar-xs">
                        <a href='/{{ comment.owner.username }}'
                          ><img
                            class="avatar-img rounded-circle"
                            src='{{ comment.owner.profile.image.url }}'
                            alt=""
                        /></a>
                      </div>
                      <div class="ms-2">
                        <!-- Comment by -->
                        <div class="bg-light rounded-start-top-0 p-3 rounded">
                          <div class="d-flex justify-content-between">
                            <h6 class="mb-1">
                              <a href='/{{ comment.owner.username }}'> {{ comment.owner.get_full_name }} </a>
                            </h6>
                            <small class="ms-2">5hr</small>
                          </div>
                          <p class="small mb-0">
                            {{ comment.text }}
                          </p>
                        </div>
                        <!-- Comment react -->
                        <ul class="nav nav-divider py-2 small">
                          <li class="nav-item">
                            <a class="nav-link" href='{% static "#!" %}'> {{ comment.commentlike_set.count }} Likes</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href='{% static "#!" %}'> Reply</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href='{% static "#!" %}'> View {{comment.reply_set.count }} replies</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <!-- Comment item nested START -->
                    <ul class="comment-item-nested list-unstyled">
                      <!-- Comment item START -->
                      {% for reply in comment.reply_set.all %}
                      <li class="comment-item">
                        <div class="d-flex">
                          <!-- Avatar -->
                          <div class="avatar avatar-xs">
                            <a href='/{{ reply.owner.username }}'
                              ><img
                                class="avatar-img rounded-circle"
                                src='{{ reply.owner.profile.image.url }}'
                                alt=""
                            /></a>
                          </div>
                          <!-- Comment by -->
                          <div class="ms-2">
                            <div class="bg-light p-3 rounded">
                              <div class="d-flex justify-content-between">
                                <h6 class="mb-1">
                                  <a href='/{{ reply.owner.username }}'> {{ reply.owner.get_full_name }} </a>
                                </h6>
                                <small class="ms-2">2hr</small>
                              </div>
                              <p class="small mb-0">
                                {{ reply.text }}
                              </p>
                            </div>
                            <!-- Comment react -->
                            <ul class="nav nav-divider py-2 small">
                              <li class="nav-item">
                                <a class="nav-link" href='{% static "#!" %}'> {{ reply.replylike_set.count }} Likes</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href='{% static "#!" %}'> Reply</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </li>
                      {% endfor %}
                      <!-- Comment item END -->
                      <!-- Comment item START -->
                      <!-- Comment item END -->
                    </ul>
                    <!-- Load more replies -->
                    <a
                      href='{% static "#!" %}'
                      role="button"
                      class="btn btn-link btn-link-loader btn-sm text-secondary d-flex align-items-center mb-3 ms-5"
                      data-bs-toggle="button"
                      aria-pressed="true"
                    >
                      <div class="spinner-dots me-2">
                        <span class="spinner-dot"></span>
                        <span class="spinner-dot"></span>
                        <span class="spinner-dot"></span>
                      </div>
                      Load more replies
                    </a>
                    <!-- Comment item nested END -->
                  </li>
                  {% endfor %}
                  <!-- Comment item END -->
                  <!-- Comment item START -->
                  <!-- Comment item END -->
                </ul>
                <!-- Comment wrap END -->
              </div>
              <!-- Card body END -->
              <!-- Card footer START -->
              {% if post.comment_set.count > 3 %}
              <div class="card-footer border-0 pt-0">
                <!-- Load more comments -->
                <a
                  href='{% static "#!" %}'
                  role="button"
                  class="btn btn-link btn-link-loader btn-sm text-secondary d-flex align-items-center"
                  data-bs-toggle="button"
                  aria-pressed="true"
                >
                  <div class="spinner-dots me-2">
                    <span class="spinner-dot"></span>
                    <span class="spinner-dot"></span>
                    <span class="spinner-dot"></span>
                  </div>
                  Load more comments
                </a>
              </div>
              {% endif %}
              <!-- Card footer END -->
            </div>
            {% endfor %}