<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <title>Kreador - Social Network | Community</title>

    <!-- Meta Tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="author" content="https://kreador.netlify.app/" />
    <meta
      name="description"
      content="Social Network and Community for Techies"
    />

    <!-- Favicon -->
    <link rel="shortcut icon" href='{% static "assets/images/favicon.ico" %}' />

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com/" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&amp;display=swap"
    />

    <!-- Plugins CSS -->
    <link
      rel="stylesheet"
      type="text/css"
      href='{% static "assets/vendor/font-awesome/css/all.min.css" %}'
    />
    <link
      rel="stylesheet"
      type="text/css"
      href='{% static "assets/vendor/bootstrap-icons/bootstrap-icons.css" %}'
    />

    <!-- Theme CSS -->
    <link
      id="style-switch"
      rel="stylesheet"
      type="text/css"
      href='{% static "assets/css/style.css" %}'
    />
  </head>

  <body>
    <!-- **************** MAIN CONTENT START **************** -->
    <main>
      <!-- Container START -->
      <div class="container">
        <div class="row justify-content-center align-items-center vh-100 py-5">
          <!-- Main content START -->
          <div class="col-sm-10 col-md-8 col-lg-7 col-xl-6 col-xxl-5">
            <!-- Sign in START -->
            <div class="card card-body text-center p-4 p-sm-5">
              <!-- Title -->
              <h1 class="mb-2">Password Reset Complete</h1>
              <p class="mb-0">
                <div id="boot-icon" class="bi bi-check" style="font-size: 10rem; color: rgb(0, 0, 255);"></div>
                Your password has been set. You may go ahead and login now.<br>
                <a href="{% url 'login' %}">Log in</a>
              </p>
            </div>
            <!-- Sign in START -->
          </div>
        </div>
        <!-- Row END -->
      </div>
      <!-- Container END -->
    </main>
    <!-- **************** MAIN CONTENT END **************** -->

    <!-- ======================= JS libraries, plugins and custom scripts ======================= -->

    <!-- Bootstrap JS -->
    <script src='{% static "assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js" %}'></script>
  </body>
</html>
