<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <title>Kreador - Social Network | Community</title>

    <!-- Meta Tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="author" content="https://kreador.netlify.app/" />
    <meta
      name="description"
      content="Social Network and Community for Techies"
    />

    <!-- Favicon -->
    <link rel="shortcut icon" href='{% static "assets/images/favicon.ico" %}' />

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com/" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&amp;display=swap"
    />

    <!-- Plugins CSS -->
    <link
      rel="stylesheet"
      type="text/css"
      href='{% static "assets/vendor/font-awesome/css/all.min.css" %}'
    />
    <link
      rel="stylesheet"
      type="text/css"
      href='{% static "assets/vendor/bootstrap-icons/bootstrap-icons.css" %}'
    />

    <!-- Theme CSS -->
    <link
      id="style-switch"
      rel="stylesheet"
      type="text/css"
      href='{% static "assets/css/style.css" %}'
    />
  </head>

  <body>
    <!-- **************** MAIN CONTENT START **************** -->
    <main>
      <!-- Container START -->
      <div class="container">
        <div class="row justify-content-center align-items-center vh-100 py-5">
          <!-- Main content START -->
          <div class="col-sm-10 col-md-8 col-lg-7 col-xl-6 col-xxl-5">
            <!-- Sign in START -->
            <div class="card card-body text-center p-4 p-sm-5">
              <!-- Title -->
              <h1 class="mb-2">Enter new password</h1>
              <p class="mb-0">
                Please enter your new password twice so we can verify you typed it in correctly.
              </p>
              <!-- Form START -->
              <form class="mt-sm-4" method="post">
                {% csrf_token %}
                <!-- Email -->
                <div class="mb-3 input-group-lg">
                  <input class="form-control" type="password" name="new_password1" 
                  autocomplete="new-password" required="" id="id_new_password1" 
                  aria-autocomplete="list" placeholder="New Password">
                </div>
                <div class="mb-3 input-group-lg">
                  <input class="form-control" type="password" name="new_password2"
                  autocomplete="new-password" required="" id="id_new_password2"
                  placeholder="Confirm Password">
                </div>
                <!-- Button -->
                <div class="d-grid">
                  <button type="submit" class="btn btn-lg btn-primary">
                    Change my password
                  </button>
                </div>
                <!-- Copyright -->
                <p class="mb-0 mt-3">
                  ©2022
                  <a target="_blank"
                    >Kreador.</a
                  >
                  All rights reserved
                </p>
              </form>
              <!-- Form END -->
            </div>
            <!-- Sign in START -->
          </div>
        </div>
        <!-- Row END -->
      </div>
      <!-- Container END -->
    </main>
    <!-- **************** MAIN CONTENT END **************** -->

    <!-- =======================
JS libraries, plugins and custom scripts -->

    <!-- Bootstrap JS -->
    <script src='{% static "assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js" %}'></script>

    <!-- Vendors -->
    <script src='{% static "assets/vendor/pswmeter/pswmeter.min.js" %}'></script>
    <link rel="stylesheet" href="{% static 'assets/vendor/iziToast/iziToast.min.css' %}">
    <script src="{% static 'assets/vendor/iziToast/iziToast.min.js' %}"></script>

    <!-- Template Functions -->
    <script src='{% static "assets/js/functions.js" %}'></script>
    <script src='{% static "assets/js/myfunctions.js" %}'></script>
  </body>
</html>
