<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <title>Kreador - Social Network | Community</title>

    <!-- Meta Tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="author" content="Kreador.com" />
    <meta
      name="description"
      content="Social Network and Community for Techies"
    />

    <!-- Favicon -->
    <link rel="shortcut icon" href='{% static "assets/images/favicon.ico" %}' />

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com/" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&amp;display=swap"
    />

    <!-- Plugins CSS -->
    <link
      rel="stylesheet"
      type="text/css"
      href='{% static "assets/vendor/font-awesome/css/all.min.css" %}'
    />
    <link
      rel="stylesheet"
      type="text/css"
      href='{% static "assets/vendor/bootstrap-icons/bootstrap-icons.css" %}'
    />
    <link rel="stylesheet" type="text/css" href='{% static "assets/vendor/plyr/plyr.css" %}' />

    <!-- Theme CSS -->
    <link
      id="style-switch"
      rel="stylesheet"
      type="text/css"
      href='{% static "assets/css/style.css" %}'
    />
  </head>
  <body>
    <!-- =======================
  Header START -->

    <header class="navbar-light header-static bg-transparent">
      <!-- Navbar START -->
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <!-- Logo START -->
          <a class="navbar-brand" href='{% static "landing.html" %}'>
            <img
              class="light-mode-item navbar-brand-item"
              src='{% static "assets/images/Kreador.png" %}'
              alt="logo"
            />
            <img
              class="dark-mode-item navbar-brand-item"
              src='{% static "assets/images/Kreador.png" %}'
              alt="logo"
            />
          </a>
          <!-- Logo END -->

          <!-- Responsive navbar toggler -->
          <button
            class="navbar-toggler ms-auto icon-md btn btn-light p-0"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-animation">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </button>

          <!-- Main navbar START -->
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav navbar-nav-scroll me-auto">
              <!-- Nav item -->
              <li class="nav-item">
                <a class="nav-link" href='{% static "blog.html" %}'>Support</a>
              </li>
              <!-- Nav item -->
              <li class="nav-item">
                <a class="nav-link" href='{% static "settings.html" %}'>Documentation</a>
              </li>
            </ul>
          </div>
          <!-- Main navbar END -->

          <!-- Nav right START -->
          <div class="ms-3 ms-lg-auto">
            <a class="btn btn-dark" href='/register'> Create a new account </a>
          </div>
          <!-- Nav right END -->
        </div>
      </nav>
      <!-- Navbar END -->
    </header>

    <!-- =======================
    Header END -->

    <main>
      <!-- **************** MAIN CONTENT START **************** -->

      <!-- Main banner START -->
      <section class="pt-5 pb-0 position-relative">
        <!-- Container START -->
        <div class="container">
          <!-- Row START -->
          <div class="row text-center position-relative z-index-1">
            <div class="col-lg-7 mx-auto">
              <!-- Heading -->
              <h1 class="display-3">Join The Largest Community of Moguls</h1>
              <p class="lead">
                The best place to meet new people, get offers and improve your business contacts
              </p>
              <div class="d-sm-flex justify-content-center">
                <!-- button -->
                <a href="{% url 'login' %}">
                  <button
                  class="btn btn-primary"
                >
                  Sign In
                </button>
                </a>
                <div class="mt-2 mt-sm-0 ms-sm-3">
                  <!-- Rating START -->
                  <div
                    class="hstack justify-content-center justify-content-sm-start gap-1"
                  >
                    <div><i class="fa-solid fa-star text-warning"></i></div>
                    <div><i class="fa-solid fa-star text-warning"></i></div>
                    <div><i class="fa-solid fa-star text-warning"></i></div>
                    <div><i class="fa-solid fa-star text-warning"></i></div>
                    <div>
                      <i class="fa-solid fa-star-half-stroke text-warning"></i>
                    </div>
                  </div>
                  <!-- Rating END -->
                  <i>"I can't believe it's free!"</i>
                </div>
              </div>
            </div>
          </div>
          <!-- Row END -->

          <!-- Row START -->
          <div
            class="row g-0 align-items-center mt-2 position-relative z-index-1"
          >
            <div class="col-lg-4">
              <!-- iphone-x mockup START -->
              <div
                class="iphone-x iphone-x-small"
                style="
                  background: url('/static/assets/images/mockup/app-placeholder2.jpg');
                  background-size: 100%;
                "
              >
                <i></i>
                <b></b>
              </div>
              <!-- iphone-x mockup END -->
            </div>
            <div class="col-lg-8">
              <!-- Mac desk START -->
              <div class="mac_container">
                <div class="mac_scaler">
                  <div class="mac_holder">
                    <div class="mac_screen">
                      <div class="mac_camera"></div>
                      <div
                        class="mac_screen_content"
                        style="
                          background: url('static/assets/images/mockup/mac-placeholder.jpg');
                          background-size: 100%;
                        "
                      ></div>
                    </div>
                    <div class="mac_bottom">
                      <div class="mac_bottom_top_half">
                        <div class="mac_thumb_space"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Mac desk START -->
            </div>
          </div>
          <!-- Row END -->
        </div>
        <!-- Container END -->

        <!-- Svg decoration START -->
        <div class="position-absolute top-0 end-0 mt-5 pt-5">
          <img
            class="h-300px blur-9 mt-5 pt-5"
            src='{% static "assets/images/elements/07.svg" %}'
            alt=""
          />
        </div>
        <div class="position-absolute top-0 start-0 mt-n5 pt-n5">
          <img
            class="h-300px blur-9"
            src='{% static "assets/images/elements/01.svg" %}'
            alt=""
          />
        </div>
        <div class="position-absolute top-50 start-50 translate-middle">
          <img
            class="h-300px blur-9"
            src='{% static "assets/images/elements/04.svg" %}'
            alt=""
          />
        </div>
        <!-- Svg decoration END -->
      </section>
      <!-- Main banner END -->

      <!-- Messaging feature START -->
      <section class="py-4 py-sm-5">
        <div class="container">
          <div class="row justify-content-center">
            <!-- Title -->
            <div class="col-lg-12 text-center mb-4">
              <h2 class="h1">More than networking</h2>
              <p>We set the standard when it comes to networking.</p>
            </div>
          </div>
          <!-- Row START -->
          <div class="row g-4 g-lg-5">
            <!-- Feature START -->
            <div class="col-md-4 text-center">
              <img
                class="h-100px mb-4"
                src='{% static "assets/images/elements/02.svg" %}'
                alt=""
              />
              <h4>Make different kinds of Posts</h4>
              <p class="mb-0">
                Posts could have multiple images or even a video.
                Ask questions through polls and get instant results.
              </p>
            </div>
            <!-- Feature END -->

            <!-- Feature START -->
            <div class="col-md-4 text-center">
              <img
                class="h-100px mb-4"
                src='{% static "assets/images/elements/07.svg" %}'
                alt=""
              />
              <h4>Like and interract with posts</h4>
              <p class="mb-0">
                Respond to posts using comments. Make replies to comments.
                Like and un-like posts, comments and replies.
              </p>
            </div>
            <!-- Feature END -->

            <!-- Feature START -->
            <div class="col-md-4 text-center">
              <img
                class="h-100px mb-4"
                src='{% static "assets/images/elements/01.svg" %}'
                alt=""
              />
              <h4>Grow your business contact list</h4>
              <p class="mb-0">
                Grow your network by adding fellow business-moguls to your contact list.
              </p>
            </div>
            <!-- Feature END -->
          </div>
          <!-- Row START -->
        </div>
      </section>
      <!-- Messaging feature END -->

      <!-- features START -->
      <section class="py-4 py-sm-5">
        <div class="container">
          <div class="row g-4 g-lg-5 align-items-center">
            <!-- Title -->
            <div class="col-lg-4">
              <h2 class="h1">Take a look at our big set of features</h2>
              <p class="mb-4">
                We continually develop new features just to serve you better
              </p>
              <a class="btn btn-dark" href='{% static "#" %}'>Get started now</a>
            </div>
            <!-- Feature item START -->
            <div class="col-lg-8">
              <div
                class="card card-body bg-mode shadow-none border-0 p-4 p-sm-5 pb-sm-0 overflow-hidden"
              >
                <div class="row g-4">
                  <div class="col-md-6">
                    <!-- Info -->
                    <img
                      class="h-50px"
                      src='{% static "assets/images/elements/05.svg" %}'
                      alt=""
                    />
                    <h4 class="mt-4">Built-in Chat</h4>
                    <p class="mb-0">
                      Book appointments, Send and receive messages
                      with our realtime chat app.
                    </p>
                  </div>
                  <div class="col-md-6 text-end">
                    <!-- image -->
                    <!-- iphone-x mockup START -->
                    <div
                      class="iphone-x iphone-x-small iphone-x-half mb-n5 mt-0"
                      style="
                        background: url('static/assets/images/mockup/app-placeholder3.jpg');
                        background-size: 100%;
                      "
                    >
                      <i></i>
                      <b></b>
                    </div>
                    <!-- iphone-x mockup END -->
                  </div>
                </div>
              </div>
            </div>
            <!-- Feature item END -->

            <!-- Feature item START -->
            <div class="col-md-4">
              <div
                class="card card-body bg-mode shadow-none border-0 p-4 p-lg-5"
              >
                <!-- Image -->
                <div>
                  <img
                    class="h-50px"
                    src='{% static "assets/images/elements/03.svg" %}'
                    alt=""
                  />
                </div>
                <!-- Info -->
                <h4 class="mt-4">Safe community</h4>
                <p class="mb-0">
                  Kreador promotes a save, cheerful and conducive environment
                </p>
              </div>
            </div>
            <!-- Feature item START -->

            <div class="col-md-4">
              <div
                class="card card-body bg-mode shadow-none border-0 p-4 p-lg-5"
              >
                <!-- Image -->
                <div>
                  <img
                    class="h-50px"
                    src='{% static "assets/images/elements/09.svg" %}'
                    alt=""
                  />
                </div>
                <!-- Info -->
                <h4 class="mt-4">Genuine users</h4>
                <p class="mb-0">
                  All kreador users are genuine. We take measures to identify and take down bots.
                </p>
              </div>
            </div>
            <div class="col-md-4">
              <div
                class="card card-body bg-mode shadow-none border-0 p-4 p-lg-5"
              >
                <!-- Image -->
                <div>
                  <img
                    class="h-50px"
                    src='{% static "assets/images/elements/06.svg" %}'
                    alt=""
                  />
                </div>
                <!-- Info -->
                <h4 class="mt-4">Global</h4>
                <p class="mb-0">
                  Kreador is suitable for all users aroud the globe
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- features END -->

      <!-- Get Discovered START -->
      <section class="py-4 py-sm-5">
        <div class="container">
          <div class="row">
            <div class="col-lg-10 ms-auto">
              <div class="row g-4 align-items-center">
                <div class="col-md-5 col-lg-5 position-relative">
                  <!-- Image -->
                  <img
                    class="rounded-circle"
                    src='{% static "assets/images/post/4by3/01.jpg" %}'
                    alt=""
                  />
                  <!-- Chat START -->
                  <div
                    class="position-absolute top-50 start-0 translate-middle d-none d-lg-block"
                  >
                    <!-- Chat item -->
                    <div
                      class="bg-mode border p-3 rounded-3 rounded-start-top-0 d-flex align-items-center mb-3"
                    >
                      <!-- Avatar -->
                      <div class="avatar avatar-xs me-3">
                        <a>
                          <img
                            class="avatar-img rounded-circle"
                            src='{% static "assets/images/avatar/02.jpg" %}'
                            alt=""
                          />
                        </a>
                      </div>
                      <!-- Comment box  -->
                      <div class="d-flex">
                        <h6 class="mb-0">I'd like to order 70 cartons</h6>
                      </div>
                    </div>

                    <!-- Chat item -->
                    <div
                      class="bg-mode border p-3 rounded-3 rounded-start-top-0 d-flex align-items-center mb-3"
                    >
                      <!-- Avatar -->
                      <div class="avatar avatar-xs me-3">
                        <a>
                          <img
                            class="avatar-img rounded-circle"
                            src='{% static "assets/images/avatar/03.jpg" %}'
                            alt=""
                          />
                        </a>
                      </div>
                      <!-- Comment box  -->
                      <div class="d-flex">
                        <h6 class="mb-0">Let's start a clothing line</h6>
                      </div>
                    </div>

                    <!-- Chat item -->
                    <div
                      class="bg-mode border p-3 rounded-3 rounded-start-top-0 d-flex align-items-center mb-3"
                    >
                      <!-- Avatar -->
                      <div class="avatar avatar-xs me-3">
                        <a>
                          <img
                            class="avatar-img rounded-circle"
                            src='{% static "assets/images/avatar/07.jpg" %}'
                            alt=""
                          />
                        </a>
                      </div>
                      <!-- Comment box  -->
                      <div class="d-flex">
                        <h6 class="mb-0">Congratulations on your new position</h6>
                      </div>
                    </div>
                  </div>
                  <!-- Chat END -->
                </div>
                <div class="col-md-6">
                  <div class="ms-4">
                    <!-- Info -->
                    <h2 class="h1">Get Discovered</h2>
                    <p class="lead mb-4">
                      Get your business under the global spotlight. Gain genuine customers.
                      Meet investors and colaborators.
                    </p>
                    <a class="btn btn-primary" href='{% static "#" %}'> Let's start </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Get Discovered START -->

      <!-- Video call START -->
      <section class="py-4 py-sm-5 position-relative">
        <!-- Svg decoration START -->
        <div class="position-absolute top-0 start-0 mt-n5 pt-n5">
          <img
            class="h-300px blur-9"
            src='{% static "assets/images/elements/06.svg" %}'
            alt=""
          />
        </div>
        <!-- Svg decoration END -->

      <!-- Main content END -->
    </main>
    <!-- **************** MAIN CONTENT END **************** -->

    <!-- Footer START -->
    <footer class="pt-5 bg-mode">
      <div class="container">
        <div class="row g-4">
          <div class="col-sm-6 col-lg-3">
            <!-- Footer Widget -->
            <img
              style="width: 13px, 13px"
              src='{% static "assets/images/Favicon.ico" %}'
              alt=""
            />
            <p class="mt-3">
              Kreador the largest Tech community made for Africans.
            </p>
          </div>
          <div class="col-sm-6 col-lg-3">
            <!-- Footer Widget -->
            <h5 class="mb-4">Download</h5>
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link pt-0">
                  <i class="bi bi-globe fa-fw pe-2"></i>Web Browser</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link">
                  <i class="bi bi-windows fa-fw pe-2"></i>Windows</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link">
                  <i class="bi bi-apple fa-fw pe-2"></i>macOS</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link">
                  <i class="bi bi-phone fa-fw pe-2"></i>iOS & Android</a
                >
              </li>
            </ul>
          </div>
          <div class="col-sm-6 col-lg-3">
            <!-- Footer Widget -->
            <h5 class="mb-4">About</h5>
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link pt-0"> About Kreador</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"> Security</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"> Customer Support</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"> Partners</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"> Careers - <b> Join Us! </b></a>
              </li>
            </ul>
          </div>
          <div class="col-sm-6 col-lg-3">
            <!-- Footer Widget -->
            <h5 class="mb-4">Resources</h5>
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link pt-0"> Join</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"> Help Center</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"> Developers</a>
              </li>
              <li class="nav-item"><a class="nav-link"> Status</a></li>
              <li class="nav-item">
                <a class="nav-link"> Communities </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <hr class="mb-0 mt-5" />
      <div class="bg- light py-3">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <!-- Footer nav START -->
              <ul
                class="nav justify-content-center justify-content-lg-start lh-1"
              >
                <li class="nav-item">
                  <a class="nav-link ps-0">Support </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" target="_blank"
                    >Docs
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link">Terms of Use</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link">Privacy &amp; terms</a>
                </li>
              </ul>
              <!-- Footer nav START -->
            </div>
            <div class="col-lg-6">
              <!-- Copyright START -->
              <p class="text-center text-lg-end mb-0">
                ©2022
                <a
                  class="text-body"
                  target="_blank"
                >
                  Kreador </a
                >All rights reserved.
              </p>
              <!-- Copyright END -->
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer END -->

    <!-- =======================
JS libraries, plugins and custom scripts -->

    <!-- Bootstrap JS -->
    <script src='{% static "assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js" %}'></script>

    <!-- Vendors -->
    <script src='{% static "assets/vendor/plyr/plyr.js" %}'></script>

    <!-- Template Functions -->
    <script src='{% static "assets/js/functions.js" %}'></script>
  </body>
</html>
