<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <title>Kreador - Social Network | Community</title>

    <!-- Meta Tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="author" content="https://kreador.netlify.app/" />
    <meta
      name="description"
      content="Social Network and Community for Techies"
    />

    <!-- Favicon -->
    <link rel="shortcut icon" href='{% static "assets/images/favicon.ico" %}' />

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com/" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&amp;display=swap"
    />

    <!-- Plugins CSS -->
    <link
      rel="stylesheet"
      type="text/css"
      href='{% static "assets/vendor/font-awesome/css/all.min.css" %}'
    />
    <link
      rel="stylesheet"
      type="text/css"
      href='{% static "assets/vendor/bootstrap-icons/bootstrap-icons.css" %}'
    />
    <link
      rel="stylesheet"
      type="text/css"
      href='{% static "assets/vendor/dropzone/dist/dropzone.css" %}'
    />
    <link
      rel="stylesheet"
      type="text/css"
      href='{% static "assets/vendor/glightbox-master/dist/css/glightbox.min.css" %}'
    />
    <link
      rel="stylesheet"
      type="text/css"
      href='{% static "assets/vendor/choices.js/public/assets/styles/choices.min.css" %}'
    />
    <link
      rel="stylesheet"
      type="text/css"
      href='{% static "assets/vendor/flatpickr/dist/flatpickr.min.css" %}'
    />

    <!-- Theme CSS -->
    <link
      id="style-switch"
      rel="stylesheet"
      type="text/css"
      href='{% static "assets/css/style.css" %}'
    />
    <link rel="stylesheet" type="text/css" href='{% static "assets/vendor/iziToast/iziToast.min.css" %}' />
    <script src='{% static "assets/js/myfunctions.js" %}'></script>
  </head>

  <body>
    <!-- =======================
Header START -->
    <header class="navbar-light fixed-top header-static bg-mode">
      <!-- Logo Nav START -->
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <!-- Logo START -->
          <a class="navbar-brand" href='/home'>
            <img
              class="light-mode-item navbar-brand-item"
              src='{% static "assets/images/Kreador.png" %}'
              alt="logo"
            />
            <img
              class="dark-mode-item navbar-brand-item"
              src='{% static "assets/images/Kreador.png" %}'
              alt="logo"
            />
          </a>
          <!-- Logo END -->

          <!-- Responsive navbar toggler -->
          <button
            class="navbar-toggler ms-auto icon-md btn btn-light p-0"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-animation">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </button>

          <!-- Nav right START -->
          <ul class="nav flex-nowrap align-items-center ms-sm-3 list-unstyled">
            <li class="nav-item ms-2 dropdown">
              <a
                class="nav-link btn icon-md p-0"
                id="profileDropdown"
                role="button"
                data-bs-auto-close="outside"
                data-bs-display="static"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <img
                  class="avatar-img rounded-2"
                  src='{{user.profile.image.url}}'
                  alt=""
                />
              </a>
              <ul
                class="dropdown-menu dropdown-animation dropdown-menu-end pt-3 small me-md-n3"
                aria-labelledby="profileDropdown"
              >
                <!-- Profile info -->
                <li class="px-3">
                  <div class="d-flex align-items-center position-relative">
                    <!-- Avatar -->
                    <div class="avatar me-3">
                      <img
                        class="avatar-img rounded-circle"
                        src='{{user.profile.image.url}}'
                        alt="avatar"
                      />
                    </div>
                    <div>
                      <a class="h6 stretched-link">{{user.get_full_name}}</a>
                      <p class="small m-0">{{user.profile.occupation}}</p>
                    </div>
                  </div>
                  <a
                    class="dropdown-item btn btn-primary-soft btn-sm my-2 text-center"
                    href='/{{user.username}}'
                    >View profile</a
                  >
                </li>
                <!-- Links -->
                <li>
                  <a
                    class="dropdown-item"
                    href="https://support.kreador.netlify.app//"
                    target="_blank"
                  >
                    <i class="fa-fw bi bi-life-preserver me-2"></i>Support
                  </a>
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    href='{% static "docs/index.html" %}'
                    target="_blank"
                  >
                    <i class="fa-fw bi bi-card-text me-2"></i>Documentation
                  </a>
                </li>
                <li class="dropdown-divider"></li>
                <li>
                  <a
                    class="dropdown-item bg-danger-soft-hover"
                    href='{% static "sign-in-advance.html" %}'
                    ><i class="bi bi-power fa-fw me-2"></i>Sign Out</a
                  >
                </li>
                <li><hr class="dropdown-divider" /></li>
                <!-- Dark mode switch START -->
                <li>
                  <div class="modeswitch-wrap" id="darkModeSwitch">
                    <div class="modeswitch-item">
                      <div class="modeswitch-icon"></div>
                    </div>
                    <span>Dark mode</span>
                  </div>
                </li>
                <!-- Dark mode switch END -->
              </ul>
            </li>
            <!-- Profile START -->
          </ul>
          <!-- Nav right END -->
        </div>
      </nav>
      <!-- Logo Nav END -->
    </header>
    <!-- =======================
Header END -->

    <!-- **************** MAIN CONTENT START **************** -->
    <main>
      <!-- Container START -->
      <div class="container">
        <div class="row g-4">
          <!-- Main content START -->
          <div class="col-lg-8 vstack gap-4">
            <!-- Card START -->
            <div class="card">
              <div
                class="h-200px rounded-top"
                style="
                  background-image: url('{{ profile_owner.profile.background_photo.url }}');
                  background-position: center;
                  background-size: cover;
                  background-repeat: no-repeat;
                "
              ></div>
              <!-- Card body START -->
              <div class="card-body py-0">
                <div
                  class="d-sm-flex align-items-start text-center text-sm-start"
                >
                  <div>
                    <!-- Avatar -->
                    <div class="avatar avatar-xxl mt-n5 mb-3">
                      <img
                        class="avatar-img rounded-circle border border-white border-3"
                        src='{{profile_owner.profile.image.url}}'
                        alt=""
                      />
                    </div>
                  </div>
                  <div class="ms-sm-4 mt-sm-3">
                    <!-- Info -->
                    <h1 class="mb-0 h5">
                      {{profile_owner.get_full_name}}
                      <i class="bi bi-patch-check-fill text-success small"></i>
                    </h1>
                    <p><span class="contacts-count">{{ profile_owner.profile.contacts.count }}</span> contacts | Added to {{ profile_owner.contacted_by.count }} contact lists</p>
                  </div>
                  <!-- Button -->
                  <div class="d-flex mt-3 justify-content-center ms-sm-auto">
                    <a class="btn btn-danger-soft me-2" type="button" href="/{{profile_owner.username}}/edit">
                      <i class="bi bi-pencil-fill pe-1"></i> Edit profile
                    </a>
                  </div>
                </div>
                <!-- List profile -->
                <ul
                  class="list-inline mb-0 text-center text-sm-start mt-3 mt-sm-0"
                >
                  <li class="list-inline-item">
                    <i class="bi bi-briefcase me-1"></i> {{ profile_owner.profile.occupation }}
                  </li>
                  <li class="list-inline-item">
                    <i class="bi bi-geo-alt me-1"></i> {{ profile_owner.profile.city }}, {{ profile_owner.profile.country }}
                  </li>
                  <li class="list-inline-item">
                    <i class="bi bi-calendar2-plus me-1"></i> Joined {{ month_joined }}
                  </li>
                </ul>
              </div>
              <!-- Card body END -->
              <div class="card-footer mt-3 pt-2 pb-0">
                <!-- Nav profile pages -->
                <ul
                  class="nav nav-bottom-line align-items-center justify-content-center justify-content-md-start mb-0 border-0"
                >
                  <li class="nav-item">
                    <a class="nav-link" href='/{{ user.username }}/'> Posts </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href='/{{ user.username }}/about'> About </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href='/{{ user.username }}/connections'>
                      Contacts
                      <span
                        class="badge bg-success bg-opacity-10 text-success small"
                      >
                        {{profile_owner.profile.contacts.count}}</span
                      >
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href='/{{ user.username }}/media'> Media</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href='{{user.username}}/videos'>
                      Videos</a
                    >
                  </li>
                </ul>
              </div>
            </div>
            <!-- Card END -->

            <!-- Video START -->
            <div class="card">
              <!-- Card header START -->
              <div class="card-header border-0 pb-0">
                <h5 class="card-title">Videos</h5>
                <!-- Button modal -->
              </div>
              <!-- Card header END -->
              <!-- Card body START -->
              <div class="card-body">
                <!-- Video of you tab START -->
                <div class="row g-3">
                  <!-- Add Video START -->
                  <div class="col-sm-6 col-md-4">
                    <div
                      class="border border-2 py-5 border-dashed h-100 rounded text-center d-flex align-items-center justify-content-center position-relative"
                    >
                      <a class="stretched-link" data-bs-toggle="modal" data-bs-target="#feedActionVideo">
                        <i class="fa-solid fa-camera-retro fs-1"></i>
                        <h6 class="mt-2">Add Video</h6>
                      </a>
                    </div>
                  </div>
                  <!-- Add Video END -->
                  {% for post in post_with_vid %}
                  <div class="col-sm-6 col-md-4">
                    <!-- Video START -->
                    <div
                      class="card p-0 shadow-none border-0 position-relative"
                    >
                      <!-- Video image -->
                      <div class="position-relative">
                        <img
                          class="rounded"
                          src='{% static "assets/images/videos/default_poster.png" %}'
                          alt=""
                        />
                        <!-- Play icon -->
                        <div class="position-absolute top-0 end-0 p-3">
                          <a
                            class="icon-md bg-danger text-white rounded-circle"
                            data-glightbox
                            data-gallery="videos"
                            href='{{post.video.url}}'
                          >
                            <i class="bi bi-play-fill fs-5"> </i>
                          </a>
                        </div>
                      </div>
                      <!-- Video info -->
                      <div class="card-body px-0 pb-0 pt-2">
                        <ul class="nav nav-stack small">
                          <li class="nav-item">
                            <a class="nav-link">
                              <i class="bi bi-heart-fill text-danger pe-1"></i
                              >{{post.likes.count}}
                            </a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link">
                              <i class="bi bi-chat-left-text-fill pe-1"></i>{{post.comment_set.count}}
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <!-- Video END -->
                  </div>
                  {% endfor %}
                </div>
                <!-- Video of you tab END -->
              </div>
              <!-- Card body END -->
              <!-- Card footer START -->
              <div class="card-footer border-0 pt-0"></div>
              <!-- Card footer END -->
            </div>
            <!-- Video item END -->
          </div>
          <!-- Main content END -->

          <!-- Right sidebar START -->
          <div class="col-lg-4">
            <div class="row g-4">
              <!-- Card START -->
              <div class="col-sm-6 col-lg-12">
                <div class="card">
                  <div class="card-header border-0 pb-0">
                    <h5 class="card-title">About</h5>
                    <!-- Button modal -->
                  </div>
                  <!-- Card body START -->
                  <div class="card-body position-relative pt-0">
                    <p>
                      {{profile_owner.profile.about}}
                    </p>
                    <!-- Date time -->
                    <ul class="list-unstyled mt-3 mb-0">
                      <li class="mb-2">
                        <i class="bi bi-calendar-date fa-fw pe-1"></i> Born:
                        <strong> {{profile_owner.profile.dob}} </strong>
                      </li>
                      <li class="mb-2">
                        <i class="bi bi-heart fa-fw pe-1"></i> Status:
                        <strong> {{profile_owner.profile.status}} </strong>
                      </li>
                      <li>
                        <i class="bi bi-envelope fa-fw pe-1"></i> Email:
                        <strong> {{profile_owner.email}} </strong>
                      </li>
                    </ul>
                  </div>
                  <!-- Card body END -->
                </div>
              </div>
              <!-- Card END -->

              <!-- Card START -->
              <div class="col-md-6 col-lg-12">
                <div class="card">
                  <!-- Card header START -->
                  <div
                    class="card-header d-sm-flex justify-content-between border-0"
                  >
                    <h5 class="card-title">Photos</h5>
                  </div>
                  <!-- Card header END -->
                  <!-- Card body START -->
                  <div class="card-body position-relative pt-0">
                    <div class="row g-2">
                      {% for photo in album %}
                      {% if forloop.counter0 < 2 %}
                      <!-- Photos item -->
                      <div class="col-6">
                        <a
                          href='{{ photo.image.url }}'
                          data-gallery="image-popup"
                          data-glightbox=""
                        >
                          <img
                            class="rounded img-fluid"
                            src='{{ photo.image.url }}'
                            alt=""
                          />
                        </a>
                      </div>
                      {% else %}
                      <!-- Photos item -->
                      <div class="col-4">
                        <a
                          href='{{ photo.image.url }}'
                          data-gallery="image-popup"
                          data-glightbox=""
                        >
                          <img
                            class="rounded img-fluid"
                            src='{{ photo.image.url }}'
                            alt=""
                          />
                        </a>
                      </div>
                      {% endif %}
                      {% endfor %}
                    </div>
                  </div>
                  <!-- Card body END -->
                </div>
              </div>
              <!-- Card END -->>

              <!-- Card START -->
              <div class="col-sm-6 col-lg-12">
                <div class="card">
                  <!-- Card header START -->
                  <div
                    class="card-header d-sm-flex justify-content-between align-items-center border-0"
                  >
                    <h5 class="card-title">
                      Contacts
                      <span class="badge bg-danger bg-opacity-10 text-danger contacts-count"
                        >{{ profile_owner.profile.contacts.count }}</span
                      >
                    </h5>
                  </div>
                  <!-- Card header END -->
                  <!-- Card body START -->
                  <div class="card-body position-relative pt-0">
                    <div class="row g-3">
                      {% for contact in profile_owner.profile.contacts.all %}
                      <div class="col-6" id="{{contact.id}}-contactcard">
                        <!-- Friends item START -->
                        <div class="card shadow-none text-center h-100">
                          <!-- Card body -->
                          <div class="card-body p-2 pb-0">
                            <div class="avatar avatar-story avatar-xl">
                              <a href='/{{ contact.username }}'
                                ><img
                                  class="avatar-img rounded-circle"
                                  src='{{ contact.profile.image.url }}'
                                  alt=""
                              /></a>
                            </div>
                            <h6 class="card-title mb-1 mt-3">
                              <a href='/{{ contact.username }}'> {{ contact.username }} </a>
                            </h6>
                          </div>
                          <!-- Card footer -->
                          <div class="card-footer p-2 border-0">
                            <button
                              class="btn btn-sm btn-danger"
                              data-bs-toggle="tooltip"
                              data-bs-placement="top"
                              title="Remove from contacts"
                              onclick="removeFromContacts('{{user.username}}', '{{contact.id}}')"
                            >
                              <i class="bi bi-person-x"></i>
                            </button>
                          </div>
                        </div>
                        <!-- Friends item END -->
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                  <!-- Card body END -->
                </div>
              </div>
              <!-- Card END -->
            </div>
          </div>
          <!-- Right sidebar END -->
        </div>
        <!-- Row END -->
      </div>
      <!-- Container END -->
    </main>
    <!-- **************** MAIN CONTENT END **************** -->
    <!-- Modal create Feed video START -->
    <div
      class="modal fade"
      id="feedActionVideo"
      tabindex="-1"
      aria-labelledby="feedActionVideoLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <!-- Modal feed header START -->
          <div class="modal-header">
            <h5 class="modal-title" id="feedActionVideoLabel">
              Add post video
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <!-- Modal feed header END -->

          <!-- Modal feed body START -->
          <div class="modal-body">
            <!-- Add Feed -->
            <div class="d-flex mb-3">
              <!-- Avatar -->
              <div class="avatar avatar-xs me-2">
                <img
                  class="avatar-img rounded-circle"
                  src='{{ user.profile.image.url }}'
                  alt=""
                />
              </div>
              <!-- Feed box  -->
              <form class="w-100">
                <textarea
                  class="form-control pe-4 fs-3 lh-1 border-0"
                  rows="2"
                  placeholder="Share your thoughts..."
                  id="postuploadtextvid1"
                ></textarea>
              </form>
            </div>

            <!-- Dropzone photo START -->
            <div>
              <label class="form-label">Upload attachment</label>
              <form
                class="dropzone dropzone-default card shadow-none"
                data-dropzone='{"maxFiles":1, "url":"/{{user.username}}/", "acceptedFiles":"video/*", "paramName":"video", "uploadMultiple": false}'
                method="post"
                id="viduploadform"
                action="/dudegfa/"
              >
                {% csrf_token %}
                <input type="hidden" name="text" value="" id="postuploadtextvid2">
                <input type="hidden" name="next" value="{{ request.path }}">
                <div class="dz-message">
                  <i class="bi bi-camera-reels display-3"></i>
                  <p>Drag here or click to upload video.</p>
                </div>
                <!-- <input type="file" id="upload_video" name="video" accept="video/*"> -->
              </form>
            </div>
            <!-- Dropzone photo END -->
          </div>
          <!-- Modal feed body END -->

          <!-- Modal feed footer -->
          <div class="modal-footer">
            <!-- Button -->
            <button
              type="button"
              class="btn btn-danger-soft me-2"
              data-bs-dismiss="modal"
            >
              Cancel
            </button>
            <button id="vidpresubmitbtn" class="btn btn-success-soft" onclick="vidSubmit()">Post</button>
            <button class="hiddenbtn" type="hidden" id="vidsubmitbtn"></button>
          </div>
          <!-- Modal feed footer -->
        </div>
      </div>
    </div>
    <!-- Modal create Feed video END -->
    <!-- =======================
JS libraries, plugins and custom scripts -->

    <script src='{% static "assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js" %}'></script>
    <script src="{% static 'assets/vendor/iziToast/iziToast.min.js' %}"></script>
    <!-- Vendors -->
    <script src='{% static "assets/vendor/tiny-slider/dist/tiny-slider.js" %}'></script>
    <script src='{% static "assets/vendor/OverlayScrollbars-master/js/OverlayScrollbars.min.js" %}'></script>
    <script src='{% static "assets/vendor/choices.js/public/assets/scripts/choices.min.js" %}'></script>
    <script src='{% static "assets/vendor/glightbox-master/dist/js/glightbox.min.js" %}'></script>
    <script src='{% static "assets/vendor/flatpickr/dist/flatpickr.min.js" %}'></script>
    <script src='{% static "assets/vendor/plyr/plyr.js" %}'></script>
    <script src='{% static "assets/vendor/dropzone/dist/min/dropzone.min.js" %}'></script>
    <script src='{% static "assets/js/functions.js" %}'></script>
  </body>
</html>
